.min-menu:after,
.min-menu:before,
.project-title:before,
.stick-menu_item:before {
  content: ""
}

.menu_item,
.min-menu-wrap__item,
.s6_btn,
.stick-menu_item {
  text-decoration: none
}

body {
  position: relative;
  background: #0A0A0A;
  z-index: 2;
}

.min-menu-wrap,
.no-overflow {
  overflow: hidden
}

.min-menu {
  position: relative;
  display: none;
  height: 15px;
  width: 30px;
  padding-top: 11px;
  cursor: pointer
}

.min-menu:after,
.min-menu:before,
.min-menu__item {
  height: 3px;
  border-radius: 15px;
  background: silver;
  transition: .5s
}

.min-menu__item {
  width: 100%
}

.min-menu:after,
.min-menu:before {
  position: absolute;
  left: 0;
  width: 100%
}

.qw-opacity {
  opacity: 0
}

.min-menu:before {
  top: 0
}

.min-menu:after {
  bottom: 0
}

.min-menu--close:before {
  transform: rotate(45deg);
  top: 10px
}

.menu-wrap,
.min-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none
}

.min-menu--close:after {
  transform: rotate(-45deg);
  bottom: 12px
}

.min-menu-wrap {
  z-index: 1;
  padding-top: 110px;
  background: #222;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  opacity: 0;
  backface-visibility: hidden;
  transition: .7s
}

.min-menu-wrap--active {
  transform: translateY(0);
  opacity: 1;
  overflow: auto
}

.min-menu-wrap__item {
  color: #9c9c9c;
  display: block;
  text-align: center;
  font-size: 17px;
  margin: auto;
  padding: 15px 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: .5s;
  max-width: 150px
}

.min-menu-wrap__item:hover {
  color: #ececec;
  border-color: #bba35e
}

.m-wrap {
  position: relative;
  overflow-y: hidden;
  color: #969696;
  font-family: "Times New Roman", Times, serif
}

.m-wrap--block-content {
  overflow: hidden;
  height: 100vh;
}

.load-wrap {
  background: url(../../img/preload-bg.jpg) center;
  background-size: cover;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  z-index: 300
}

.animation-fade-out {
  animation: fade-outs 1.3s ease-in-out 1;
  animation-fill-mode: forwards
}

@keyframes fade-outs {
  0% {
    transform: translateY(0)
  }
  99% {
    transform: translateY(-100%)
  }
  100% {
    visibility: hidden;
    display: none
  }
}

.load-wrap__item {
  position: relative;
  margin: auto
}

.load-wrap__title {
  color: #fefefe;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 2px
}

.load-wrap__title-s {
  text-align: center;
  color: #fefefe;
  font-size: 25px;
  margin-top: -35px;
  animation: sopy 3s ease-in-out infinite
}

@keyframes sopy {
  0% {
    transform: scale(1);
    opacity: .3
  }
  50% {
    transform: scale(1.1);
    opacity: 1
  }
  100% {
    opacity: .3;
    transform: scale(1)
  }
}

.load-wrap__item-img {
  animation: rosan 3s ease-in-out infinite;
  position: relative;
  z-index: 1
}

@keyframes rosan {
  0%,
  100%,
  83% {
    transform: scale(1)
  }
  90% {
    transform: scale(1.1)
  }
}

.content-wrap {
  margin: auto;
  padding: 30px 0;
  max-width: 1180px
}

.s-title {
  margin: 0 0 100px;
  text-align: center;
  font-weight: 400;
  font-size: 45px
}

.s-title__gold {
  color: #BBA35F
}

.s-title--feedback {
  margin-top: -30px
}

.stick-menu {
  position: fixed;
  display: flex;
  height: 45px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: #0a0a0a;
  z-index: 2;
  border-bottom: 1px solid #bba35e
}

.stick-menu_item {
  position: relative;
  font-size: 13px;
  padding: 0 40px;
  display: block;
  height: 45px;
  line-height: 45px;
  color: #d2d2d2;
  transition: .4s;
  cursor: pointer;
  overflow: hidden
}

.stick-menu_item:before {
  display: block;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #bba35e;
  transition: .4s;
  z-index: -1
}

.project-title,
.section-1,
.section-2,
.section-3 {
  position: relative
}

.stick-menu_item:hover {
  color: #fefefe
}

.stick-menu_item:hover:before {
  top: 0
}

.stick-menu_spliter {
  height: 100%;
  width: 1px;
  background: #333
}

.section-1 {
  display: flex;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  background: url(../../dist/img/1s-bg.jpg) center/cover fixed;
  z-index: 2
}

.s1_l-part {
  width: 100%;
  max-width: 500px;
  padding: 20px 15px 60px 25px;
  background-color: rgba(0, 0, 0, .7)
}

.s1_company-name {
  background: linear-gradient(180deg, #A68D42 20%, #504113, #A68D42, #504113);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 400;
  font-size: 100px;
  margin-bottom: 0
}

.s1_spliter {
  width: 100%;
  max-width: 200px;
  height: 1px;
  background: #BBA35F;
  margin: 40px 0
}

.t1_desc-title {
  margin-top: 0;
  color: #B7B7B7;
  font-weight: 400;
  font-size: 16px
}

.s1_r-part {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 25px;
  padding-top: 30px;
  width: 100%
}

.s3_box-gal,
.s3_item-half {
  justify-content: space-between
}

menu {
  display: flex;
  padding: 0
}

.menu_item {
  display: block;
  color: #A2A2A2;
  border-right: 1px solid #626262;
  padding-right: 20px;
  margin-right: 20px;
  transition: color .4s
}

.menu_item:hover {
  color: #fafafa
}

.menu_item--last {
  border: none;
  margin: 0;
  padding: 0
}

.section-2 {
  background: url(../../dist/img/s2-bg.jpg) center/cover;
  padding: 100px 40px 20px
}

.s2_p {
  color: #cecece;
  margin: 0;
  font-size: 16px;
  width: 70%;
  max-width: 500px;
  padding: 10px;
  line-height: 23px;
  text-indent: 10px;
  text-align: justify
}

.marg-left {
  margin-left: auto
}

.s2_p--last-sec {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 20px
}

.s2_spliter {
  width: 200px;
  background: #BBA35F;
  height: 1px;
  margin: 30px auto 0
}

.section-3 {
  background: #fff;
  padding: 100px 40px
}

.s3__p {
  text-indent: 20px;
  text-align: justify;
  margin: 5px 0 0
}

.s6_btn,
.s6_title {
  text-align: center
}

.project-title {
  font-size: 30px;
  color: #BBA35F;
  margin-bottom: 25px;
  text-transform: uppercase
}

.project-title:before {
  display: block;
  position: absolute;
  bottom: -4px;
  background: #BBA35F;
  height: 1px;
  width: 60px
}

.s3_spliter {
  height: 1px;
  background: #d4d4d4;
  margin: 60px 0
}

.s3_item-half {
  display: flex
}

.s3_sub-half {
  width: 49%
}

.s3_sub-half--text {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.half-img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  border: 6px solid #f3f3f3;
  box-shadow: 0 2px 10px 2px #d0d0d0
}

.s3__wrap-slider,
.slider {
  width: 80%;
  margin: auto;
  overflow: hidden
}

.cocoen--center,
.s3__wrap-slider,
.slider {
  box-shadow: 0 3px 10px 2px #9a9a9a
}

.s3__wrap-slider {
  position: relative;
  transform-origin: center center;
  font-size: 0
}

.slider-wrapper {
  width: 100%;
  height: 300px;
  position: relative
}

.slide {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 3s linear
}

.section-4,
.section-5,
.section-6 {
  position: relative
}

.s5_item,
.s5_item-inner {
  transition: .4s;
  width: 100%
}

.slider-wrapper>.slide:first-child {
  opacity: 1
}

.cocoen--center {
  width: 80%;
  margin: 40px auto
}

.s3_box-gal {
  display: flex;
  margin-top: 40px;
  min-height: 245px
}

.s3_box-gal-item {
  width: 31%;
  display: block;
  height: auto
}

.s3_box-gal-item--top-pad {
  padding-top: 60px
}

.s3_box-gal-item-img {
  width: 100%;
  border: 2px solid #f3f3f3;
  box-shadow: 0 2px 10px 2px #d0d0d0
}

.section-4 {
  padding: 40px;
  background: linear-gradient(180deg, #252525, #1C1C1C);
  border-bottom: 2px solid #3c3c3c
}

.s4_country-item-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px
}

.s4_country-item {
  width: 22%
}

.country-city-img {
  display: none
}

.s4_country-item-head {
  display: flex;
  align-items: flex-start
}

.s4_country-item-name-box {
  padding-left: 20px
}

.s4_country-item-name {
  margin-top: 0;
  margin-bottom: 5px;
  color: #BBA35F;
  font-size: 30px
}

.s4_country-item-spliter {
  background: #404040;
  height: 1px;
  width: 40px
}

.s4_country-item-body {
  font-size: 15px
}

.section-5 {
  padding: 40px;
  background: #1C1C1C
}

.s5_box-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start
}

.s5_item {
  display: flex;
  max-width: 200px;
  height: 200px;
  background: #232323;
  border: 2px solid #BBA35F;
  border-radius: 50%;
  padding: 10px;
  margin: 10px
}

.s5_item:hover {
  transform: scale(1.05);
  background: linear-gradient(180deg, #484848, #131313)
}

.s5_item-inner {
  display: flex;
  margin: auto;
  height: 100%;
  border-radius: 50%;
  background: #fff
}

.s5_item:hover .s5_item-inner {
  transform: scale(.9)
}

.s5_item-img {
  margin: auto;
  display: block
}

.section-6 {
  background-color: #000;
  background-image: url(../../dist/img/s6-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  padding: 40px
}

.anchor-top,
.s6_btn {
  height: 50px;
  line-height: 50px
}

.s6_title {
  font-weight: 400;
  margin: 0;
  color: #8F8F8F;
  font-size: 20px
}

.s6_btn {
  display: block;
  margin: 110px auto auto;
  background: linear-gradient(180deg, #232323, #181818);
  border-radius: 18px;
  color: #BBA35F;
  width: 100%;
  max-width: 300px;
  font-size: 21px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .6);
  transition: .5s
}

.s6_btn:hover {
  transform: scale(1.03);
  box-shadow: 0 20px 40px -13px rgba(0, 0, 0, .6);
}

.s6_btn-img {
  vertical-align: middle;
  margin-right: 5px
}

footer {
  background: #1A1A1A;
  padding: 0 40px
}

.foot-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0
}

.name-foot {
  text-transform: capitalize;
  font-size: 26px
}

.copyright {
  text-align: right;
  font-size: 14px
}

.anchor-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1d1d1d;
  width: 50px;
  border-radius: 50%;
  display: block;
  text-align: center;
  opacity: .6;
  transition: .4s
}

.anchor-top:hover {
  opacity: 1;
  transform: scale(1.08)
}

@media (max-width:1120px) {
  .s1_company-name {
    font-size: 80px
  }
  .s1_l-part {
    max-width: 410px
  }
}

@media (max-width:1030px) {
  .s1_r-part {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
  }
  menu {
    flex-direction: column;
    list-style: circle inside
  }
  .menu_item {
    position: relative;
    margin: 0 0 30px;
    padding: 0;
    border: none;
    text-align: right
  }
  .menu_item:before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: -12px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #BBA35F;
    transition: .5s
  }
  .menu_item:hover:before {
    transform: scale(1.8)
  }
  .menu_item--last {
    margin: 0
  }
}

@media (max-width:830px) {
  .s5_box-item {
    justify-content: space-around
  }
  .s5-item {
    width: 130px;
    height: 130px;
    margin-bottom: 25px
  }
  .s4_country-item-box {
    flex-direction: column;
    align-items: center
  }
  .s4_country-item {
    width: 90%;
    margin-bottom: 50px
  }
  .s4_city-img {
    display: none
  }
  .country-city-img {
    display: block;
    width: 60%;
    margin: auto
  }
}

@media (max-width:775px) {
  .stick-menu_item,
  .stick-menu_spliter {
    display: none
  }
  .min-menu,
  .min-menu-wrap {
    display: block
  }
  .foot-body {
    flex-direction: column
  }
  .copyright,
  .name-foot {
    text-align: center
  }
  .s1_company-name {
    margin-top: 90px
  }
  .s2_p {
    width: 100%
  }
  .s3_box-gal,
  .s3_item-half {
    flex-direction: column
  }
  .s3_sub-half {
    width: 80%;
    margin: auto
  }
  .s3_box-gal-item--top-pad {
    padding: 0
  }
  .s3_box-gal-item {
    width: 40%;
    margin: auto auto 20px
  }
  .s3__p--margin-bot {
    margin-bottom: 50px
  }
}

@media (max-width:560px) {
  .s1_company-name {
    font-size: 65px
  }
  .t1_desc-title,
  menu {
    font-size: 15px
  }
  .t1_desc-title {
    text-align: center
  }
  .s3_box-gal-item {
    width: 80%
  }
}

@media (max-width:490px) {
  .s1_company-name {
    font-size: 55px
  }
}

@media (max-width:600px) {
  .section-6 {
    height: 150px;
    padding: 40px
  }
  .s6_btn {
    margin-top: 50px;
    font-size: 16px
  }
  .country-city-img {
    width: 80%
  }
}

@media (max-width:320px) {
  .s1_company-name {
    font-size: 45px
  }
  .s1_r-part {
    flex-direction: column;
    justify-content: center;
    padding-right: 10px
  }
}

@media(max-width:1000px) {
  .slider-wrapper {
    height: 250px
  }
}

@media(max-width:775px) {
  .slider-wrapper {
    height: 300px
  }
}

@media(max-width:650px) {
  .slider-wrapper {
    height: 250px
  }
}

@media(max-width:550px) {
  .slider-wrapper {
    height: 200px
  }
}

@media(max-width:400px) {
  .slider-wrapper {
    height: 150px
  }
}